h1 {
  font-size: 24px;
  padding: 20px;
  margin: 0;
}

table {
  border-collapse: collapse;
}

th,td{
  border-bottom: 1px solid #ddd;
  padding: 20px;
  text-align: left;
}

.btn-edit{
  margin-left: 60px;
  padding: 5px 12px 5px 12px;
  background-color: blue;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.btn-edit:hover{
  background-color: #fff;
  color: blue;
}

.btn-del{
  margin-left: 10px;
  padding: 5px;
  background-color: red;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.btn-del:hover{
  background-color: #fff;
  color: red;
}

td span{
  float: right;
}
